.padding-1 {
  padding-right: 10px;
}

.padding-2 {
  padding-right: 20px;
}

.padding-3 {
  padding-right: 30px;
}

.padding-4 {
  padding-right: 40px;
}

.padding-5 {
  padding-right: 50px;
}

.pd_b-1 {
  padding-bottom: 10px;
}

.pd_b-2 {
  padding-bottom: 20px;
}

.pd_b-3 {
  padding-bottom: 30px;
}

.pd_b-4 {
  padding-bottom: 40px;
}

.pd_b-5 {
  padding-bottom: 50px;
}

main .jumbotron .btn {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
main .jumbotron .btn .left a {
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 30px;
  font-size: 22px;
}
main .jumbotron .btn .right a {
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 100px;
  background-color: black;
}
header .container {
  width: 1170px;
  margin: 0 auto;
}
header .top {
  height: 45px;
}
header .top nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .top nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top nav ul li i {
  color: #009cff;
}
header .top nav ul li a {
  color: lightgrey;
}
header .top nav ul li a:hover {
  color: white;
  text-decoration: underline;
}
header .bottom {
  height: calc(100px - 45px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .bottom .image img {
  width: 100px;
}

nav.nav-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.nav-bottom ul li {
  padding: 20px;
}
nav.nav-bottom ul li a {
  color: white;
}
nav.nav-bottom ul li i {
  color: grey;
  font-size: 10px;
}
nav.nav-bottom ul li:hover {
  background-color: white;
}
nav.nav-bottom ul li:hover a {
  color: black;
}

li.dropdown-parent {
  position: relative;
}
li.dropdown-parent .dropdown {
  width: 230px;
  position: absolute;
  top: calc(100px - 45px);
  left: 0;
  background-color: white;
  display: none;
}
li.dropdown-parent .dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
li.dropdown-parent .dropdown ul li:hover {
  background-color: lightgrey;
}
li.dropdown-parent:hover .dropdown {
  display: block;
}

main .jumbotron {
  background-image: url("../img/bg-painter-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .jumbotron .container {
  width: 1170px;
  margin: 0 auto;
}
main .jumbotron .text {
  width: 50%;
}
main .jumbotron .text img {
  width: 280px;
}
main .jumbotron .text p, main .jumbotron .text h3 {
  font-size: 22px;
}
main .jumbotron .text p:last-child, main .jumbotron .text h3 {
  color: #ca1eb5;
  font-style: italic;
  font-size: 18px;
}

main .jumbotron .btn {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
main .jumbotron .btn .left a {
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 30px;
  font-size: 22px;
}
main .jumbotron .btn .right a {
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 22px;
}

footer {
  color: #ececec;
  height: 400px;
}
footer .top {
  padding: 80px 0;
}
footer .top .container {
  width: 1170px;
  margin: 0 auto;
}
footer .top .container .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .top .container .boxes .box h4 {
  color: black;
}
footer .top .container .boxes .box ul li a {
  color: grey;
}
footer .top .container .boxes .box ul li a:hover {
  color: black;
  text-decoration: underline;
}
footer .top .container .social {
  padding: 40px 0;
}
footer .top .container .social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
footer .top .container .social ul li a i {
  font-size: 40px;
}
footer .top .container .social ul li a i#instagram {
  color: #e4405f;
}
footer .top .container .social ul li a i#facebook {
  color: #3b5998;
}
footer .top .container .social ul li a i#twitter {
  color: #1da1f2;
}
footer .top .container .social ul li a i#youtube {
  color: #cd201f;
}
footer .top .container .social ul li a i#pinterest {
  color: #bd081c;
}
