li.dropdown-parent{
  position: relative;
  .dropdown{
    width: 230px;
    position: absolute;
    top: $headerBottom;
    left: 0;
    background-color: $colorWhite;
    display: none;
    ul{
      @include flex(column, center, flex-start);
      li{
        &:hover{
          width: 100%;
          background-color: $colorLightGrey;
        }
      }
    }
  }
  &:hover{
    .dropdown{
      display: block;
    }
  }
}
