footer{
  height: 400px;
  .top{
    background-color: $colorIvory;
    padding: 80px 0;
    .container{
      @include container;
      .boxes{
        @include flex(row, space-between, center);
        .box{
          h4{
            color: $colorBlack;
          }
          ul{
            li{
              a{
                color: $colorGrey;
                &:hover{
                  color: $colorBlack;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .social{
        padding: 40px 0;
        ul{
          @include flex(row, flex-end, center);
          li{
            a{
              i{
                font-size: 40px;
                &#instagram{
                  color: $colorInstagram;
                }
                &#facebook{
                  color: $colorFacebook;
                }
                &#twitter{
                  color: $colorTwitter;
                }
                &#youtube{
                  color: $colorYouTube;
                }
                &#pinterest{
                  color: $colorPinterest;
                }
              }
            }
          }
        }
      }
    }
  }
  .bottom{
    background-color: $colorBlack;
    padding: 20px 0;
    .container{
      @include container;
      .images{
        @include flex(row, flex-start, center);
      }
      .nav{
        @include flex(row, flex-end, center);
        ul{
          @include flex(row, flex-between, center);
          li{
            a{
              color: $colorGrey;
              &:hover{
                color: $colorLightGrey;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
