header {
  height: $headerHeight;
  background-color: $colorBlack;
  .container{
    @include container;
    background-color: lightblue;
  }
  .top{
    height: $headerTop;
  }
  .bottom{
    height: $headerBottom;
  }
}
