header {
  height: $headerHeight;
  background-color: $colorBlack;
  .container{
    @include container;
  }
  .top{
    height: $headerTop;
    nav{
      @include flex(row, flex-end);
      ul{
        @include flex(row, space-between);
        li{
          i{
            color: $colorSky;
          }
          a{
            color: $colorLightGrey;
            &:hover{
              color: $colorWhite;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .bottom{
    height: $headerBottom;
    @include flex(row, space-between);
    .image {
      img{
        width: 100px;
      }
    }
  }
}
