header {
  height: $headerHeight;
  background-color: $colorBlack;
  .container{
    @include container;
    background-color: lightblue;
  }
  .top{
    height: $headerTop;
    nav{
      @include flex(row, flex-end);
      ul{
        @include flex(row, space-between);
        li{
          padding-right: $padding-#{$2};
        }
      }
    }
  }
  .bottom{
    height: $headerBottom;
  }
}
