main{
  .jumbotron{
    background-image: url('../img/bg-painter-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
}
