// COLORI
$colorBlack: black;
$colorWhite: white;
$colorSky: #009cff;
$colorLightGrey: lightgrey;
$colorGrey: grey;
$colorFuchsia: #ca1eb5;

// ALTEZZE E LARGHEZZE
// Header
$headerHeight: 100px;
$headerTop: 45px;
$headerBottom: calc(#{$headerHeight} - #{$headerTop});

// PADDING e MARGIN
$pd_100: 100px;

@for $i from 1 through 5 {
  .padding-#{$i}{
    padding-right: 10px*$i;
  }
}

@for $i from 1 through 5 {
  .pd_b-#{$i}{
    padding-bottom: 10px*$i;
  }
}
