// COLORI
$colorBlack: black;
$colorWhite: white;
$colorSky: #009cff;
$colorLightGrey: lightgrey;
$colorGrey: grey;

// ALTEZZE E LARGHEZZE
// Header
$headerHeight: 100px;
$headerTop: 45px;
$headerBottom: calc(#{$headerHeight} - #{$headerTop});

// PADDING e MARGIN
@for $i from 1 through 5 {
  .padding-#{$i}{
    padding-right: 10px*$i;
  }
}
